body{
	margin: 0;
	padding: 0;
	color: #60615b;
	background-color: #ffffff;
}

.contenedor{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: stretch;
	align-items: stretch;
	box-sizing: border-box;
	padding: 0 16px;
}

.columna{
	
}
header{

}

header section{
	background-color: #f0f0e8;
}

header .elemento-contacto{

}
header .elemento-contacto i{

}

header .elemento-contacto span{

}

header .elemento-redes i{

}


